---
import { Icon } from "astro-icon/components";

import { cn } from "@/lib/style";

const hasPrev = false;
const hasNext = true;
---

<div class="fixed right-0 bottom-0 left-0 flex min-w-0 justify-center">
  <div class="flex w-full max-w-3xl min-w-0 items-center px-4 py-8">
    <button
      disabled={!hasPrev}
      class:list={cn("bg-y-10 shrink-0 rounded-full p-2", {
        "bg-y-50": hasPrev,
      })}
    >
      <Icon name="arrow-right" class="text-n-0 size-8 rotate-180 sm:size-12" />
    </button>
    <div
      class="bg-y-50 flex h-full w-full min-w-0 items-center justify-center rounded-full px-4 py-2 sm:px-8 sm:py-4"
    >
      <p class="text-n-0 truncate sm:text-2xl">MissingCore</p>
    </div>
    <button
      disabled={!hasNext}
      class:list={cn("bg-y-10 shrink-0 rounded-full p-2", {
        "bg-y-50": hasNext,
      })}
    >
      <Icon name="arrow-right" class="text-n-0 size-8 sm:size-12" />
    </button>
  </div>
</div>
