---
import { Icon } from "astro-icon/components";

import type { Route } from "@/constants/Data";
import { NavigationStructure } from "@/constants/Data";
import { cn } from "@/lib/style";

const asPath = Astro.url.pathname;
const screenContext = NavigationStructure[asPath as Route];

if (!screenContext) return null;

const hasPrev = screenContext.prev !== null;
const hasNext = screenContext.next !== null;
---

<div class="fixed right-0 bottom-0 left-0 flex min-w-0 justify-center">
  <div class="flex w-full max-w-3xl min-w-0 items-center px-4 py-8 sm:px-16">
    <a
      href={screenContext.prev?.href}
      data-navBtn
      class:list={cn("bg-y-10 shrink-0 rounded-full p-2", {
        "bg-y-50 hover:bg-y-60": hasPrev,
      })}
    >
      <Icon name="arrow-right" class="text-n-0 size-8 rotate-180 sm:size-12" />
    </a>
    <div
      class="bg-y-50 flex h-full w-full min-w-0 items-center justify-center rounded-full px-4 py-2 sm:px-8 sm:py-4"
    >
      <p class="text-n-0 truncate sm:text-2xl">{screenContext.name}</p>
    </div>
    <a
      href={screenContext.next?.href}
      data-navBtn
      class:list={cn("bg-y-10 shrink-0 rounded-full p-2", {
        "bg-y-50 hover:bg-y-60": hasNext,
      })}
    >
      <Icon name="arrow-right" class="text-n-0 size-8 sm:size-12" />
    </a>
  </div>
</div>

<script>
  const isMobile = window.innerWidth < 768;
  const navButtons = document.querySelectorAll("a[data-navBtn]");
  if (isMobile) {
    navButtons.forEach((node) => {
      node.setAttribute("data-astro-reload", "");
    });
  }
</script>
