---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Music_Banner from "~/assets/projects/Music/banner.png";
import ViewTransitionWrapper from "~/components/screen/ViewTransitionWrapper.astro";

import Card from "~/components/Card.astro";
import ColRow from "~/components/ColRow.astro";
import Text from "~/components/Text.astro";
import Title from "~/components/Title.astro";

interface Props {
  unfocused?: boolean;
}

const { unfocused } = Astro.props;
---

<ViewTransitionWrapper name="Music" unfocused={unfocused}>
  <Image
    src={Music_Banner}
    alt="Music App Banner"
    class="h-auto w-full rounded-2xl"
  />
  <Card>
    <Title unfocused={unfocused}>Music</Title>
    <Text>A Nothing inspired local music player.</Text>
  </Card>
  <ColRow>
    <div class="flex">
      <Card class="bg-n-40 items-center sm:py-4">
        <Text class="text-n-100 sm:text-base">v2.6.2</Text>
      </Card>
      <Card class="bg-n-20 flex-row items-center gap-8 sm:py-4">
        <a
          href="https://play.google.com/store/apps/details?id=com.cyanchill.missingcore.music"
          ><Icon name="logo-google-playstore" class="text-n-100 size-8" /></a
        >
        <a href="https://github.com/MissingCore/Music/releases"
          ><Icon name="logo-github" class="text-n-100 size-8" /></a
        >
      </Card>
    </div>
    <a
      href="/music/privacy-policy"
      data-navBtn
      class="bg-r-50 hover:bg-r-55 inline-flex flex-1 items-center justify-center rounded-full px-8 py-4"
      ><Text class="text-n-100 sm:text-base">Privacy Policy</Text>
    </a>
  </ColRow>
</ViewTransitionWrapper>
