---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import type { ComponentProps } from "astro/types";

import "~/assets/global.css";
import { cn } from "~/lib/style";
import MetaHead from "../components/MetaHead.astro";
import Navbar from "../components/Navbar.astro";

interface Props extends ComponentProps<typeof MetaHead> {
  /** Style applied to the `<main />`. */
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Font cssVariable="--font-nynjara" preload />
    <Font cssVariable="--font-space-grotesk" preload />
    <MetaHead {...rest} />
    <ClientRouter />
  </head>
  <body
    class="flex min-h-svh overflow-x-clip bg-n-0 font-space-grotesk text-n-100"
  >
    <main
      class:list={cn(
        "relative mx-auto flex w-full max-w-3xl flex-col items-center justify-center gap-6 px-4 py-32",
        className,
      )}
    >
      <Navbar />
      <slot />
    </main>
  </body>
</html>
