---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import type { ComponentProps } from "astro/types";

import "~/assets/global.css";
import { cn } from "~/lib/style";
import LightBar from "~/components/LightBar.astro";
import MetaHead from "../components/MetaHead.astro";

interface Props extends ComponentProps<typeof MetaHead> {
  /** Style applied to the `<main />`. */
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Font cssVariable="--font-ntype82" preload />
    <Font cssVariable="--font-nynjara" preload />
    <Font cssVariable="--font-space-grotesk" preload />
    <MetaHead {...rest} />
    <ClientRouter />
  </head>
  <body
    class="noise flex min-h-svh overflow-x-clip bg-n-0 font-space-grotesk text-n-100"
  >
    <div class="hidden flex-row gap-4 pl-16 sm:flex">
      <LightBar height={256} />
      <LightBar height={512} delayMS={500} />
      <LightBar height={368} delayMS={750} />
    </div>
    <main
      class:list={cn(
        "relative flex w-full min-w-0 flex-col gap-6 px-4 pt-32 sm:px-16 sm:pt-48",
        className,
      )}
    >
      <slot />

      <div class="mt-auto">
        <footer class="mt-16 border-t-2 border-n-100 py-16">
          <p>&copy; {new Date().getFullYear()} MissingCore</p>
        </footer>
      </div>
    </main>
  </body>
</html>
