---
import { Image } from "astro:assets";

import MissingCore_Logo from "~/assets/MissingCore_Logo.png";
import ViewTransitionWrapper from "../components/ViewTransitionWrapper.astro";

import Card from "~/components/Card.astro";
import ColRow from "~/components/ColRow.astro";
import Text from "~/components/Text.astro";
import Title from "~/components/Title.astro";

interface Props {
  unfocused?: boolean;
}

const { unfocused } = Astro.props;
---

<ViewTransitionWrapper name="Home" unfocused={unfocused}>
  <ColRow>
    <div class="flex max-h-48 shrink-0">
      <Image
        src={MissingCore_Logo}
        alt="MissingCore Logo"
        height={192}
        width={192}
        class="aspect-square w-full max-w-48 rounded-2xl"
      />
      <Card plain class="flex-1 sm:hidden" />
    </div>
    <Card class="bg-n-15">
      <Title unfocused={unfocused}>MissingCore</Title>
      <Text>Building open source apps inspired by Nothing design.</Text>
    </Card>
  </ColRow>
</ViewTransitionWrapper>
