---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Music_Banner from "~/assets/projects/Music/banner.png";
import ViewTransitionWrapper from "../components/ViewTransitionWrapper.astro";

import Card from "~/components/Card.astro";
import ColRow from "~/components/ColRow.astro";
import Text from "~/components/Text.astro";
import Title from "~/components/Title.astro";

interface Props {
  unfocused?: boolean;
}

const { unfocused } = Astro.props;
---

<ViewTransitionWrapper name="Music" unfocused={unfocused}>
  <Image
    src={Music_Banner}
    alt="Music App Banner"
    class="h-auto w-full rounded-2xl"
  />
  <Card>
    <Title unfocused={unfocused}>Music</Title>
    <Text>A Nothing inspired local music player.</Text>
  </Card>
  <ColRow>
    <div class="flex">
      <Card class="items-center bg-n-40 sm:py-4">
        <Text data-appVersion class="min-w-[4ch] text-n-100 sm:text-base" />
      </Card>
      <Card class="flex-row items-center gap-8 bg-n-20 sm:py-4">
        <a
          aria-label="Google Play Listing"
          href="https://play.google.com/store/apps/details?id=com.cyanchill.missingcore.music"
          target="_blank"
          ><Icon name="logo-google-playstore" class="size-8 text-n-100" /></a
        >
        <a
          aria-label="Latest GitHub Release"
          href="https://github.com/MissingCore/Music/releases/latest"
          target="_blank"
          ><Icon name="logo-github" class="size-8 text-n-100" /></a
        >
      </Card>
    </div>
    <a
      href="/music/privacy-policy"
      class="inline-flex flex-1 items-center justify-center rounded-full bg-r-50 px-8 py-4 hover:bg-r-55"
      ><Text class="text-n-100 sm:text-base">Privacy Policy</Text>
    </a>
  </ColRow>
</ViewTransitionWrapper>

<script>
  const RELEASE_NOTES_LINK =
    "https://api.github.com/repos/MissingCore/Music/releases";

  async function getLatestMusicAppRelease() {
    const res = await fetch(`${RELEASE_NOTES_LINK}/latest`, {
      cache: "force-cache",
    });
    const data = await res.json();
    return {
      version: data.tag_name,
      // Remove markdown comments w/ regex.
      releaseNotes: data.body
        ? data.body.replace(/<!--[\s\S]*?(?:-->)/g, "")
        : undefined,
    };
  }

  async function updateMusicProjectContent(
    data: Awaited<ReturnType<typeof getLatestMusicAppRelease>>
  ) {
    const versionNode = document.querySelector(
      "section#Music p[data-appVersion]"
    );
    if (versionNode) versionNode.textContent = data.version;
  }

  // Required since Astro run bundled scripts once.
  document.addEventListener("astro:page-load", () => {
    getLatestMusicAppRelease().then(updateMusicProjectContent);
  });
</script>
