---
import Layout from "~/layouts/Layout.astro";

import H1 from "~/components/MDX/H1.astro";
import Text from "~/components/Text.astro";
---

<Layout
  title="404: Page Not Found"
  description="Sorry, this page was not found."
  class="gap-8"
>
  <H1>404: Page Not Found</H1>
  <a
    href="/"
    class="bg-r-50 hover:bg-r-55 inline-flex items-center justify-center rounded-full px-8 py-4"
    ><Text class="text-n-100 sm:text-base">Return Home</Text></a
  >
</Layout>
