---
import Layout from "~/navigation/layouts/Layout.astro";
---

<Layout title="MissingCore" description="Building free, open-source apps.">
  <h1 class="font-nynjara text-4xl sm:mt-16 sm:text-7xl">MissingCore</h1>
  <p class="text-lg text-n-70 sm:text-3xl">
    Building <span class="text-r-50 text-shadow-glow">free</span>, <span
      class="text-r-50 text-shadow-glow">open-source</span
    > apps.
  </p>
</Layout>
