---
import { OpenSource, Works } from "~/data/Works";

import Layout from "~/navigation/layouts/Layout.astro";

import CTA from "~/components/CTA.astro";
import HorizontalListContainer from "~/components/HorizontalListContainer.astro";
import WorkCard from "~/components/WorkCard.astro";
---

<Layout title="MissingCore" description="Building free, open-source apps.">
  <CTA headline="MissingCore"
    >Building <span class="text-primary text-shadow-glow">free</span>, <a
      href="https://github.com/MissingCore"
      target="_blank"
      class="text-primary underline text-shadow-glow">open-source</a
    > apps.</CTA
  >

  <h2 class="mt-16 font-nynjara text-2xl uppercase sm:mt-32 sm:text-3xl">
    Work
  </h2>
  <HorizontalListContainer>
    {Works.map((work) => <WorkCard {...work} />)}
  </HorizontalListContainer>

  <h2 class="mt-16 font-nynjara text-2xl uppercase sm:text-3xl">Open-Source</h2>
  <HorizontalListContainer>
    {OpenSource.map((work) => <WorkCard {...work} />)}
  </HorizontalListContainer>
</Layout>
