---
import Layout from "@/layouts/Layout.astro";

import { Button, Text } from "@/constants/Style";
---

<Layout title="MissingCore" class="items-center justify-center">
  <h1 class={Text.h1}>MissingCore</h1>
  <a href="/privacy-policy" class={Button.default}>Privacy Policy</a>
</Layout>
