---
import { OpenSource, Works } from "~/data/Works";

import Layout from "~/navigation/layouts/Layout.astro";

import HorizontalListContainer from "~/components/HorizontalListContainer.astro";
import WorkCard from "~/components/WorkCard.astro";
---

<Layout title="MissingCore" description="Building free, open-source apps.">
  <h1 class="font-nynjara text-4xl wrap-break-word sm:text-7xl">MissingCore</h1>
  <p class="text-lg text-n-70 sm:text-3xl">
    Building <span class="text-r-50 text-shadow-glow">free</span>, <a
      href="https://github.com/MissingCore"
      target="_blank"
      class="text-r-50 underline text-shadow-glow">open-source</a
    > apps.
  </p>

  <h2 class="mt-16 font-nynjara text-2xl uppercase sm:mt-32 sm:text-3xl">
    Work
  </h2>
  <HorizontalListContainer>
    {Works.map((work) => <WorkCard {...work} />)}
  </HorizontalListContainer>

  <h2 class="mt-16 font-nynjara text-2xl uppercase sm:text-3xl">Open-Source</h2>
  <HorizontalListContainer>
    {OpenSource.map((work) => <WorkCard {...work} />)}
  </HorizontalListContainer>
</Layout>
