---
import { cn } from "~/lib/style";

interface Props {
  right?: boolean;
}

const { right } = Astro.props;
---

<div
  aria-hidden="true"
  inert
  class="pointer-events-none fixed top-1/2 -z-100 hidden -translate-y-1/2 select-none sm:block"
>
  <div class:list={cn("-translate-x-[95%]", { "translate-x-[95%]": right })}>
    <slot />
  </div>
</div>
