---
import { cn } from "~/lib/style";
import FooterLinkGroup from "./FooterLinkGroup.astro";
---

<footer
  class={cn(
    "border-t-2 mt-16 border-outlineVariant py-16 px-4 grid gap-8 md:grid-cols-[auto_minmax(0,1fr)]",
  )}
>
  <div class="flex flex-col gap-x-16 gap-y-8 md:flex-row md:justify-end">
    <FooterLinkGroup
      label="Explore"
      links={[
        { href: "/", label: "Home" },
        { href: "/music", label: "Music" },
      ]}
    />
    <FooterLinkGroup
      label="Platforms"
      links={[
        { href: "https://github.com/MissingCore", label: "GitHub" },
        {
          href: "https://play.google.com/store/apps/dev?id=7502497708044857255",
          label: "Google Play",
        },
      ]}
    />
  </div>

  <p class="md:col-start-1 md:row-start-1">
    &copy; {new Date().getFullYear()} MissingCore
  </p>
</footer>
