---
import { Icon } from "astro-icon/components";

import type { Route } from "../routes";
import { NavigationTree } from "../routes";
import { cn } from "~/lib/style";

const asPath = Astro.url.pathname;
// `pathname` includes a trailing slash in the prod build.
const path =
  asPath === "/" ? "/" : asPath.at(-1) === "/" ? asPath.slice(0, -1) : asPath;
const screenContext = NavigationTree[path as Route];

if (!screenContext) return null;

const hasPrev = screenContext.prev !== null;
const hasNext = screenContext.next !== null;
---

<nav
  transition:name="navbar"
  class="pointer-events-none fixed right-0 bottom-0 left-0 z-100 flex min-w-0 justify-center"
>
  <div
    class="flex w-full max-w-xl min-w-0 items-center px-4 py-8 *:pointer-events-auto sm:px-16"
  >
    <a
      href={screenContext.prev?.href}
      class:list={cn("bg-y-10 shrink-0 rounded-full p-2", {
        "bg-y-50 hover:bg-y-60": hasPrev,
      })}
    >
      <Icon aria-hidden name="arrow-right" class="text-n-0 size-8 rotate-180" />
    </a>
    <div
      class="bg-y-50 flex h-full w-full min-w-0 items-center justify-center rounded-full px-4 py-2"
    >
      <p class="text-n-0 truncate">{screenContext.name}</p>
    </div>
    <a
      href={screenContext.next?.href}
      class:list={cn("bg-y-10 shrink-0 rounded-full p-2", {
        "bg-y-50 hover:bg-y-60": hasNext,
      })}
    >
      <Icon aria-hidden name="arrow-right" class="text-n-0 size-8" />
    </a>
  </div>
</nav>
