---
import { cn } from "~/lib/style";

interface Props {
  name: string;
  unfocused?: boolean;
}

const { name, unfocused } = Astro.props;
---

<section
  id={name}
  transition:name={name}
  class:list={cn("w-full", { "max-h-svh scale-75 blur-lg": unfocused })}
>
  <slot />
</section>
