---
import { Image } from "astro:assets";

import MissingCore_Logo from "@/assets/MissingCore_Logo.png";

import Card from "../Card.astro";
import ColRow from "../ColRow.astro";
import Text from "../Text.astro";
import Title from "../Title.astro";
---

<section transition:name="home" class="w-full">
  <ColRow>
    <div class="flex max-h-48 shrink-0">
      <Image
        src={MissingCore_Logo}
        alt="MissingCore Logo"
        height={192}
        width={192}
        class="aspect-square w-full max-w-48 rounded-2xl"
      />
      <Card plain class="flex-1 sm:hidden" />
    </div>
    <Card class="bg-n-15">
      <Title>MissingCore</Title>
      <Text>Building open source apps inspired by Nothing design.</Text>
    </Card>
  </ColRow>
</section>
