---
import type { HTMLAttributes } from "astro/types";

import { cn } from "~/lib/style";

interface Props extends HTMLAttributes<"p"> {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<p
  class:list={cn("font-sans text-sm text-n-80 sm:text-xl", className)}
  {...props}
>
  <slot />
</p>
