---
import type { Work } from "~/data/Works";

import { cn } from "~/lib/style";
import WorkCard from "./WorkCard.astro";

interface Props {
  label: string;
  works: Work[];
  class?: string;
}

const { label, works, class: className } = Astro.props;
---

<section class={cn("space-y-8", className)}>
  <h2 class="font-nynjara text-2xl uppercase sm:text-3xl">{label}</h2>
  <div
    class={cn(
      "minimal-scrollbar -mx-4 gap-8 overflow-x-auto p-4",
      "grid grid-cols-1 sm:grid-cols-none sm:auto-cols-[32rem] sm:grid-flow-col",
      // Layout adjustments for edge-to-edge horizontal scroll.
      "sm:-mr-16 sm:-ml-43 sm:pr-16 sm:pl-43",
    )}
  >
    {works.map((work) => <WorkCard {...work} />)}
  </div>
</section>
