---
import { cn } from "~/lib/style";

interface Props {
  id?: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<h2 id={id} class:list={cn("font-serif text-3xl text-n-100", className)}>
  <slot />
</h2>
