---
import { cn } from "~/lib/style";

interface Props {
  id?: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<h3 id={id} class:list={cn("font-ntype82 text-2xl", className)}>
  <slot />
</h3>
