@import "tailwindcss";

@theme {
  --color-canvas: rgba(var(--theme-canvas));
  --color-surface: rgba(var(--theme-surface));
  --color-content: rgba(var(--theme-content));
  --color-accent: rgba(var(--theme-accent));

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  /* Ref: https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --theme-canvas: 18 18 18;
  --theme-surface: 27 29 31;
  --theme-content: 240 240 240;
  --theme-accent: 200 16 46;
}

body {
  color: rgb(var(--theme-content) / 0.75);
}
